.root {
  margin: 50px auto;
  max-width: 600px;
  text-align: center;
}

.icon {
  font-size: 60px;
}

.title {
  font-size: 32px;
  margin-bottom: 10px;
}

.description {
  font-size: 18px;
  line-height: 145.4%;
  letter-spacing: 0.01em;
  color: #777777;
}